<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f='http://java.sun.com/jsf/core'
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>Närvaro Lista</title>
    </h:head>
    <h:body>
        <ui:include src="header.xhtml"/><br></br>

        <h:form id="form" style="width: 900px; margin: auto">
            <p:panel id="panel" header="Närvaro Lista. Var god och välja en kurs" style="margin-bottom:20px;">
                <h:panelGrid columns="4" cellpadding="5" style="margin: auto;">
                    <h:outputLabel for="course_name" value="Välj en kurs: *" />
                    <h:selectOneMenu id="course_name" value="#{attendanceManagedBean.courseName}" required="true" label="Kursnamn">
                        <f:selectItem itemLabel="Välj här" itemValue="" noSelectionOption="true" />
                        <f:selectItem itemLabel="Javautvecklare" itemValue="Javautvecklare" />
                        <f:selectItem itemLabel="Sharepoint utvecklare" itemValue="Sharepoint utvecklare" />
                        <f:selectItem itemLabel="Automationsingenjör" itemValue="Automationsingenjör" />
                        <f:selectItem itemLabel="Agil projektledare" itemValue="Agil projektledare" />
                        <f:selectItem itemLabel="Drift- &amp; fastighetstekniker" itemValue="Drift- &amp; fastighetstekniker" />
                        <f:selectItem itemLabel="Kvalitetssäkrare och testare inom IT" itemValue="Kvalitetssäkrare och testare inom IT" />
                        <f:selectItem itemLabel="Systemutvecklare .NET" itemValue="Systemutvecklare .NET" />
                        <f:selectItem itemLabel="Verktygsmakare" itemValue="Verktygsmakare" />
                    </h:selectOneMenu>
                    <p:commandButton update="@form"  action="#{attendanceManagedBean.getStudentsByCourseName()}" value="Visa Studenter" />
                </h:panelGrid>
            </p:panel>

            <p:dataTable id="checkbox" var="student" value="#{attendanceManagedBean.studentListByCourseName}" 
                         selection="#{attendanceManagedBean.attendants}" rowKey="#{student.id}" style="margin-bottom:20px;">

                <f:facet name="header">
                    Student List
                </f:facet>
                <p:column selectionMode="multiple" style="width: 16px; text-align:center;"/>
                <p:column headerText="Förstnamn">
                    <h:outputText value="#{student.firstName}" />
                </p:column>
                <p:column headerText="Efternamn">
                    <h:outputText value="#{student.lastName}" />
                </p:column>
                <p:column headerText="Email">
                    <h:outputText value="#{student.email}" />
                </p:column>
                <f:facet name="footer">
                    <p:commandButton actionListener="#{attendanceManagedBean.dateControlForCourse()}" resetValues="true"
                                     update="@form" icon="ui-icon-disk" value="Spara" />
                </f:facet>
            </p:dataTable>

            <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />

            <p:dataTable id="attendanceLista" rendered="#{not empty attendanceManagedBean.jmsContents}" 
                         var="attendant" value="#{attendanceManagedBean.jmsContents}" style="margin-bottom: 30px !important;">
                <f:facet name="header">
                    Närvaro lista för studenter
                </f:facet>
                <p:column headerText="Student Namn">
                    <h:outputText value="#{attendant.studentName}" />
                </p:column>
                <p:column headerText="Email">
                    <h:outputText value="#{attendant.studentEmail}" />
                </p:column>
                <p:column headerText="Kursnamn" style="width: 250px;">
                    <h:outputText value="#{attendant.courseName}" />
                </p:column>
                <p:column headerText="Datum" style="width: 90px;">
                    <h:outputText value="#{attendant.date}" >
                        <f:convertDateTime pattern="yyyy-MM-dd"/>
                    </h:outputText>
                </p:column>

                <f:facet name="footer">
                    <p:commandButton action="#{attendanceManagedBean.sendJMS()}" 
                                     update="@form" icon="ui-icon-mail-closed" value="Skicka Rapport" />
                </f:facet>
            </p:dataTable>

        </h:form>
    </h:body>
</html>

