<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Login sidan</title>
        <h:outputStylesheet library="css" name="style.css" />
    </h:head>
    <h:body>
        <h:form id="teacher_login">
            <div style="margin: auto; width: 400px; margin-top: 20px;">
                
                <p:panelGrid id="panel" style="margin: auto; width: 100px; margin-top: 50px;" columns="2">

                    <f:facet name="header">Admin Login</f:facet>
                    <p:outputLabel for="teacher_username" value="Användernamn:" />   
                    <p:inputText id="teacher_username" value="#{teacherManagedBean.teacher.userName}"
                                 required="true" requiredMessage="Användernamnet kan inte vara tomt">
                        <f:validateLength minimum="3" maximum="25" />
                    </p:inputText>


                    <p:outputLabel for="teacher_password" value="Lösenord:" />   
                    <p:password id="teacher_password" value="#{teacherManagedBean.teacher.password}"
                                required="true" requiredMessage="Lösenordet kan inte vara tomt">
                        <f:validateLength minimum="3" maximum="25" />
                    </p:password>


                    <f:facet name="footer">
                        <p:commandButton type="submit" value="Logga in" update="teacher_login"
                                         style="margin-right: 10px; float: right;" 
                                         action="#{teacherManagedBean.authenticateTeacher()}" />
                    </f:facet>
                </p:panelGrid>

                <div style="margin-top: 20px !important; width: 93%; margin: auto">
                    <p:message id="uname" for="teacher_username"/>
                    <p:message id="pass" for="teacher_password"/>
                </div>
            </div>
        </h:form>
    </h:body>
</html>

